beautifulsoup4
bidict
fqdn
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
lightning-utilities
matplotlib
matplotlib-inline
numpy
pandas
pmdarima
pytorch-lightning
ray
scikit-learn
scipy
seaborn
statsmodels
sympy
tensorboard
tensorboard-data-server
tensorboardX
torch
torchmetrics
torchsummary
torchvision
torchviz
tqdm
typing_extensions
voila
